## Graphite local_settings.py
# Edit this file to customize the default Graphite webapp settings
#
# Additional customizations to Django settings can be added to this file as well

#####################################
# General Configuration #
#####################################
# Set this to a long, random unique string to use as a secret key for this
# install. This key is used for salting of hashes used in auth tokens,
# CRSF middleware, cookie storage, etc. This should be set identically among
# instances if used behind a load balancer.
#SECRET_KEY = 'UNSAFE_DEFAULT'

#####################################
# atsd storage #
#####################################

STORAGE_FINDERS = (
    'atsd_finder.AtsdFinder',
    'atsd_finder.AtsdFinderV',
    'graphite.finders.standard.StandardFinder'
)

ATSD_CONF = {
    'url': 'localhost:8088',
    'username': 'atsd_username',
    'password': 'secret_pwd',
    'views': {'ATSD Host': [{'type': 'metric folder',
                             'value': [{'jvm_*'    : 'jvm'},
                                       {'message_*': 'message'},
                                       {'metric_*' : 'metric'},
                                       {'propert*' : 'properties'}],
                             'global': [{'type': 'entity',
                                         'value': ['atsd']},
                                        {'type': 'period',
                                         'value': [{'count': 1,
                                                    'unit': 'hour'}]}]},

                            {'type': 'metric',
                             'value': ['*']},

                            {'type': 'tag',
                             'value': ['host']},

                            {'type': 'collection',
                             'value': [{'type': 'aggregator',
                                        'value': [{'detail': 'Detail'}],
                                        'is leaf': True},

                                       {'type': 'const',
                                        'value': ['Aggregate']}],
                             'global': []},

                            {'type': 'aggregator',
                             'value': [{'count'        : 'Count'},
                                       {'min'          : 'Minimum'},
                                       {'max'          : 'Maximum'},
                                       {'avg'          : 'Average'},
                                       {'median'       : 'Median'},
                                       {'sum'          : 'Sum'},
                                       {'percentile_75': 'Percentile 75%'},
                                       {'percentile_90': 'Percentile 90%'},
                                       {'percentile_95': 'Percentile 95%'},
                                       {'percentile_99': 'Percentile 99%'}],
                             'is leaf': True}],

              'ATSD Java': [{'type': 'tag',
                             'value': ['name'],
                             'global': [{'type': 'entity',
                                         'value': ['atsd']},
                                        {'type': 'metric',
                                         'value': ['java_method_invoke_average']},
                                        {'type': 'period',
                                         'value': [{'count': 1,
                                                    'unit': 'hour'}]},
                                        {'type': 'interval',
                                         'value': [{'count': 1,
                                                    'unit': 'day',
                                                    'label': '1 day'}]}]},

                            {'type': 'metric',
                             'value': ['java_*']},

                            {'type': 'tag',
                             'value': ['host']},

                            {'type': 'aggregator',
                             'value': [{'detail': 'Detail'}],
                             'is leaf': True}]}
}
